/* Write your CSS code here */
.blog-item {
  list-style-type: none;
  width: 100%;
  border-bottom: 1 px solid #e7e5e1;
}
.blog-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: #12022f;
  font-family: roboto;
}
.description {
  font-size: 16px;
  font-weight: normal;
  color: #616e7c;
  font-family: roboto;
  line-height: 26px;
}
.published-date {
  font-size: 15px;
  font-weight: normal;
  color: #9aa5b1;
  font-family: roboto;
  line-height: 26px;
}
